@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.ttf') format('truetype'); /* Ensure path is correct */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Minecraft', sans-serif;
    background-color: #1a1a1d;
    color: white;
  }
  .text-shadow-custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
