@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Minecraft font */
@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Define Cubic font */
@font-face {
    font-family: 'Cubic';
    src: url('/fonts/Cubic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply default font as Minecraft */
body {
    font-family: 'Minecraft', 'Cubic', sans-serif;
    background-color: #1a1a1d;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/* Custom Text Shadow */
.text-shadow-customh {
    text-shadow: 2px 2px 0px #787777;
}

.text-shadow-customp {
    text-shadow: 1px 1px 0px #787777;
}

/* Get Started button */
.custom-btn {
    display: inline-block;
    background-color: #5170fd;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Minecraft', sans-serif;
    border-radius: 15px;
    border: 2px solid #1d3dff;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #1d3dff;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 0px #1d3dff;
}

.custom-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 0px #1d3dff;
}

.custom-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #1d3dff;
}

/* Mobile (below 768px) adjustments */
@media (max-width: 768px) {
    .custom-btn {
        width: 100%; /* Full width for buttons on mobile */
        font-size: 1rem;
    }
    .left-section, .right-section {
        width: 100%;
        top: 10vh;
        margin: 0 auto;
    }
    .whale-image {
        display: none; /* Hide whale background on small screens */
    }
    .staking-box {
        margin-top: 5px; /* Ensure some space between sections */
        margin-bottom: 5px;
    }
}

/* Tablet and Desktop adjustments */
@media (min-width: 768px) {
    .whale-image {
        top: 15vh;
        left: -5vw;
        max-height: 80vh;
    }
}

@media (min-width: 1024px) {
    .whale-image {
        top: 20vh;
        left: -10vw;
        max-height: 100vh;
    }
}

/* For group hover effects */
.group:hover .dropdown {
    background-color: rgba(255, 255, 255, 0.1);
    color: yellow;
}